@import '../../sassVars.scss';
.home {
  font-family: $mainFont;
  letter-spacing: 0.1rem;
  font-weight: 600;
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  background: white;
  color: $orange;
  header {
    margin-top: 3.2rem;
  }
  .body-containers {
    display: flex;
    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      height: 550px;
      width: calc((100vw / 2) - 2rem);
      border: 1px solid $orange;
      margin: 1rem;
      text-align: center;
      padding-top: 1rem;
      border: 4px solid rgba(211, 135, 35, 0.1);
      border-radius: 2rem;
      span {
        padding: 3rem;
        font-size: 2rem;
        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }
  
}