@import '../../sassVars.scss';

.dashboard {
  position: relative;
  font-family: $mainFont;
  color: $lightFontColor;
  background: $orange;
  min-height: 100vh;
  width: 100vw;
  cursor: context-menu;
  header {
    text-align: center;
    font-size: 4rem;
    padding-top: 2rem;
  }
  .menu-container {
    position: absolute;
    top: 15px;
    right: 15px;
    display: flex;
    align-items: center;
    span {
      
      font-size: 1.2rem;
    }
    .logout-button {
      border: 1px solid $lightFontColor;
      border-radius: 20px;
      height: 40px;
      width: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.2s;
      margin-left: 0.5rem;
      &:hover {
        cursor: pointer;
        background: $lightFontColor;
        color: $orange;
      }
    }
  }
}