@import '../../sassVars.scss';
.modal {
  height: 25rem;
  width: 30em;
  border-radius: 2rem;
  background: $lightFontColor;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  .input-container {
    position: relative;
    height: 25rem;
    width: 30em;
    background: $lightFontColor;
    padding: 0.2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .cancel-menu {
      position: absolute;
      top: 10px;
      right: 10px;
    }
    .each-input {
      margin: 0 auto; 
      display: flex;
      align-items: center; 
    }
    input {
      margin: 0.1rem;
      border: none;
      border-bottom: 1px solid lightgray;
      background: transparent;
    }
  }
}