@import '../../sassVars.scss';
.modal {
  height: 25rem;
  width: 30em;
  border-radius: 2rem;
  background: $lightFontColor;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  .input-container {
    position: relative;
    height: 25rem;
    width: 30em;
    background: $lightFontColor;
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .cancel-menu {
      position: absolute;
      top: 15px;
      right: 15px;
    }
    .each-input {
      margin: 0.5rem auto; 
      display: flex;
      align-items: center; 
    }
    input {
      margin: 0.3rem;
      border: none;
      border-bottom: 1px solid lightgray;
      border-radius: 0.3rem;
      height: 1.5rem;
      background: transparent;
      padding-left: 0.4rem;
      width: 12rem;
      font-size: 1.2rem;
      letter-spacing: 0.1rem;
      &:focus {
        outline: none;
        
      }
    }
    
  }
}